tutorials-versions {
  text-align: center !important;
  margin-left: 0;
  margin-top: 10px;
  display: block;
}

.tutorial-name {
  width: 100%;
  border-bottom: 1px white solid;
  padding: 5px;
  text-align: center;
}

.top-navigation {
  width: 100%;
  z-index: 50;
  margin-bottom: 20px;
}

.tutorial-content {
  margin-top: 20px;
  padding: 20px;
}

.tutorial-nav {
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	a {
		font-size: 13px;
		margin-right: 10px;
	}
}

.improve {
	display: block;
}

.tutorial-title {
	font-family: 'League Spartan', sans-serif;
}

.tutorial-content blockquote {
	background: #fffbd8;
	margin: 0;
	padding: 0 1rem;
	font-size: .8rem;
	border: 1px solid #d6d095;
	border-radius: 4px;
	position: relative;
	padding-left: 65px;

	&::before {
		content: "priority_high";
		font-family: 'Material Icons';
		width: 65px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		font-style: normal;
		line-height: 1;
		font-size: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #c6b81d;
	}
}

.zip-download {
	display: block;
	position: relative;
	color: #789b37;
	margin-bottom: 2rem;
	background: #fff;
	border: 2px solid #bcd196;
	border-radius: 4px;
	padding: 1rem 1rem 1rem 65px;

	&:hover {
		background: #f6ffe8;
	}

	&::before {
		content: "file_download";
		font-family: 'Material Icons';
		width: 65px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		font-style: normal;
		line-height: 1;
		font-size: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #bcd196;
	}
}

.youtube-container {
	border: 1px solid #ccc;
}

@media screen and (min-width: 1000px) {
	.tutorial-nav {
		padding: 0;
		margin-bottom: 0;
	}

	.tutorial-content {
		margin-top: 0;
		padding-top: 0;
	}

	.top-navigation {
		margin-top: 20px;
		margin-bottom: 60px;
	}
}

.button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	.material-icons {
		font-size: 16px;
		padding-right: 5px;
	}

	&.right-icon {
		.material-icons {
			padding-right: 0;
			padding-left: 10px;
		}
	}
}
