<div class="tutorials-container">
    <nav class="side-nav l-pinned-left l-layer-4 l-offset-nav">
        <steps-list></steps-list>
    </nav>
    <div class="top-navigation">
        <span class="tutorial-title" stepName>
            Title
        </span>
        <div class="right-buttons">
            <a md-raised-button tutorialNavigation="previous" class="md-primary">Previous</a>
            <a md-raised-button codeDiffButton class="md-primary">Code Diff</a>
            <a md-raised-button tutorialNavigation="next" class="md-primary">Next</a>
        </div>
    </div>
    <div class="tutorial-content">
        <router-outlet></router-outlet>
    </div>
</div>