<div class="tutorials-container">
  <nav class="side-nav l-pinned-left l-layer-4 l-offset-nav">
    <div class="tutorial-name" *ngIf="tutorial">
      {{ tutorial.name }}
    </div>
    <tutorials-versions [options]="getOptions()"></tutorials-versions>
    <steps-list></steps-list>
  </nav>
  <div class="tutorial-content">
    <div class="top-navigation">
      <div class="tutorial-nav">
        <a md-raised-button tutorialNavigation="previous" class="md-primary tutorial-button">
          <span class="button-wrapper"><i class="material-icons">navigate_before</i>Previous</span>
        </a>
        <a md-raised-button codeDiffLink class="md-primary tutorial-button">
          <span class="button-wrapper"><i class="material-icons">search</i>Code Diff</span>
        </a>
        <a md-raised-button tutorialNavigation="next" class="md-primary tutorial-button">
          <span class="button-wrapper right-icon">Next<i class="material-icons">navigate_next</i></span>
        </a>
      </div>

      <div class="improve">
        <a md-raised-button [improveThisDocLink]="getStaticRepo()" class="md-primary improv-button tutorial-button">
          <span class="button-wrapper"><i class="material-icons">mode_edit</i>Improve This Document</span>
        </a>
      </div>
    </div>
    <h1 class="tutorial-title" stepName></h1>
    <a class="zip-download" stepDownloadZip>
      Note: If you skipped ahead to this section, click here to download a zip of the tutorial at this point.
    </a>
    <div class="youtube-container" *ngIf="step && step.youtubeVideoId">
      <iframe id="ytplayer" type="text/html" width="640" height="360"
              [src]="getYoutubeLink()"
              frameborder="0"></iframe>
    </div>
    <router-outlet></router-outlet>
    <br /><br />
    <div class="top-navigation">
      <div class="tutorial-nav">
        <a md-raised-button tutorialNavigation="previous" class="md-primary tutorial-button">
          <span class="button-wrapper"><i class="material-icons">navigate_before</i>Previous</span>
        </a>
        <a md-raised-button codeDiffLink class="md-primary tutorial-button">
          <span class="button-wrapper"><i class="material-icons">search</i>Code Diff</span>
        </a>
        <a md-raised-button tutorialNavigation="next" class="md-primary tutorial-button">
          <span class="button-wrapper right-icon">Next<i class="material-icons">navigate_next</i></span>
        </a>
      </div>

      <div class="improve">
        <a md-raised-button [improveThisDocLink]="getStaticRepo()" class="md-primary improv-button tutorial-button">
          <span class="button-wrapper"><i class="material-icons">mode_edit</i>Improve This Document</span>
        </a>
      </div>
    </div>
  </div>
</div>
