.side-nav {
  background: #ECEFF1;
  box-shadow: 3px 0 6px rgba(0,0,0,0.3);
  width: 232px;
  bottom: 0;
  overflow: auto;
  z-index: 100;

  .nav-block {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #CFD8DC;
    color: #546E7A;

    a {
      text-decoration: none;
      color: #536E7A;
      display: block;
    }

    .nav-title {
      font-size: 14px;
      padding: 16px 16px;
      margin: 0;
      background-color: #ECEFF1;
    }
  }
}

.l-pinned-top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.l-pinned-left {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

.l-relative,
.docs-content {
  position: relative;
}

.l-absolute {
  position: absolute;
}

.l-fixed {
  position: fixed;
}

.l-offset-side-nav {
  padding-left: 232px;
}

.l-offset-nav {
  padding-top: 64px;
}