.img-title{
  text-align: center;
  margin: 0 auto;
}

.markdown-content  {
  padding-right: 20%;
  padding-left: 20%;
}

.navigationButtons {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tutorial-links {
  margin-top: 10px;
  text-align: center;
}