.img-title{
  text-align: center;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.navigationButtons {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tutorial-links {
  margin-top: 10px;
  text-align: center;
}
