<div class="navigationButtons">
  <a href="/tutorials/whatsapp" *ngIf="!isAngular1"><button md-button class="md-primary">This tutorial also available for Angular 1! Click here > </button></a>
  <a href="/tutorials/whatsapp2" *ngIf="isAngular1"><button md-button class="md-primary">This tutorial also available for Angular 2! Click here > </button></a>
</div>
<div class="img-title">
  <img src="/assets/tutorials/angular1-whatsapp-ionic-cli/0.png" />
</div>
<div class="tutorial-links">
  <a href="/tutorials/whatsapp2/ionic/setup" *ngIf="!isAngular1"><button md-button class="md-primary">Get Started with Ionic 2 CLI</button></a>
  <a href="/tutorials/whatsapp/ionic/bootstrapping" *ngIf="isAngular1"><button md-button class="md-primary">Get Started with Ionic CLI</button></a>
  <a href="/tutorials/whatsapp/meteor/bootstrapping" *ngIf="isAngular1"><button md-button class="md-primary">Get Started with Meteor CLI</button></a>
</div>
<div class="markdown-content">
  <h1 *ngIf="isAngular1">Angular-Meteor & Ionic</h1>
  <h1 *ngIf="!isAngular1">Angular-2Meteor & Ionic 2</h1>
  <markdown-file [template]="'/assets/templates/whatsapp-intro/angular1.md'"></markdown-file>
</div>
