<br/>
<br/>
<div class="navigationButtons">
  <a href="tutorials/whatsapp-tutorial" *ngIf="!isAngular1" md-raised-button class="md-primary tutorial-button">This
    tutorial also available for Angular 1! Click here ></a>
  <a href="tutorials/whatsapp2-tutorial" *ngIf="isAngular1" md-raised-button class="md-primary tutorial-button">This
    tutorial also available for Angular 2! Click here ></a>
</div>
<div class="img-title">
  <img *ngIf="isAngular1" src="assets/images/whatsapp.png"/>
  <img *ngIf="!isAngular1" src="assets/images/whatsapp2.png"/>
</div>
<div class="tutorial-links">
  <a href="tutorials/whatsapp2/ionic/setup" *ngIf="!isAngular1" md-raised-button class="md-primary tutorial-button">Get
    Started with Ionic 2 CLI</a>
  <a href="tutorials/whatsapp2/meteor/setup" *ngIf="!isAngular1" md-raised-button class="md-primary tutorial-button">Get
    Started with Meteor CLI</a>
  <a href="tutorials/whatsapp/ionic/bootstrapping" *ngIf="isAngular1" md-raised-button
     class="md-primary tutorial-button">Get Started with Ionic CLI</a>
  <a href="tutorials/whatsapp/meteor/bootstrapping" *ngIf="isAngular1" md-raised-button
     class="md-primary tutorial-button">Get Started with Meteor CLI</a>
</div>
<div class="markdown-content">
  <h1 class="title" *ngIf="isAngular1">Angular-Meteor & Ionic</h1>
  <h1 class="title" *ngIf="!isAngular1">Angular2-Meteor & Ionic 2</h1>
  <markdown-file [template]="'/assets/templates/whatsapp-intro/angular1.md'"></markdown-file>
</div>
<div class="tutorial-links">
  <a href="tutorials/whatsapp2/ionic/setup" *ngIf="!isAngular1" md-raised-button class="md-primary tutorial-button">Get
    Started with Ionic 2 CLI</a>
  <a href="tutorials/whatsapp2/meteor/setup" *ngIf="!isAngular1" md-raised-button class="md-primary tutorial-button">Get
    Started with Meteor CLI</a>
  <a href="tutorials/whatsapp/ionic/bootstrapping" *ngIf="isAngular1" md-raised-button
     class="md-primary tutorial-button">Get Started with Ionic CLI</a>
  <a href="tutorials/whatsapp/meteor/bootstrapping" *ngIf="isAngular1" md-raised-button
     class="md-primary tutorial-button">Get Started with Meteor CLI</a>
</div>
<br/>
