.not-found-title {
  text-align: center;
}

.not-found-circle {
  height: 200px;
  background: #a6120d;
  width: 200px;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 200px;
  text-align: center;
  border-radius: 200px;
  color: white;
  font-size: 4em;
  font-weight: bold;
}

.not-found-links {
  text-align: center;
  width: 100%;
}
