$darkBgColor: #90A4AE;
$lightBgColor: #546E7A;
$lightTextColor: #536E7A;
$darkerBgColor: #263238;

$shellBgColor: #eee;
$buttonColor: #a6120d;
$buttonHoverColor: #dd1b16;

$linkColor: #a6120d;
$linkActiveColor: #dd1b16;
$linkHoverColor: $linkActiveColor;
