@import "colors";
@import "../../../node_modules/highlight.js/styles/default";
@import "../../../node_modules/highlight.js/styles/github";

a {
  color: black;
}

body {
  margin: 0;
  padding: 64px 0 0;
  font-family: 'Open Sans', sans-serif;
}

pre {
  background: transparent;
  border: none;
  white-space: pre-wrap;
}

code {
  white-space: pre-wrap;
}

img[alt="angular1-wa-ionic-cli"], img[alt="angular1-wa-meteor-cli"] {
  width: 30%;
}

.side-nav {
  .step-item, .api-list-item {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #CFD8DC;
    color: $lightBgColor;
  }

  .step-link, .api-item-link, .apis-versions-list li {
    text-decoration: none;
    color: $lightTextColor;
    display: block;
    font-size: 14px;
    padding: 16px 16px;
    margin: 0;
    background-color: #ECEFF1;
  }

  .active-step {
    a {
      font-weight: bold;
    }
  }

  .tutorial-steps-list, .apis-list, .apis-versions-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
  }
}

.apis-versions-list {
  margin: 0 !important;

  li {
    padding: 8px !important;

    a {
      text-decoration: none;
    }
  }
}

.dropdown-content {
  column-count: 2;
  column-width: 220px;
  column-rule: 1px solid #ECEFF1;
  column-gap: 0;

  .tutorial-steps-list {
    margin: 0 !important;
    list-style: none;
    padding: 0;

    .step-item {
      padding: 5px 0 5px 10px;
      border-bottom: 1px solid #ECEFF1;
      break-inside: avoid-column;

      a {
        text-decoration: none;
        font-size: small;
        color: black;
      }

      .bold {
        font-weight: bold;
      }
    }
  }
}

.md-primary {
  background: $darkerBgColor !important;
  color: white !important;
  cursor: pointer !important;

  &[disabled] {
    color: lightgray !important;
    cursor: not-allowed !important;
  }
}

[md-raised-button] {
	border: 2px solid #a6120d !important;
	background: transparent !important;
	color: #a6120d !important;
	box-shadow: none !important;

	&[disabled] {
		border-color: #aaa !important;
		color: #aaa !important;
	}
}

tutorial-page-content {
  pre {
    code[ngnonbindable] {
      background: $shellBgColor;
      display: block;
      width: 90%;
      border-radius: 5px;
      padding: 10px;
    }
  }

  blockquote {
    margin: 0;
    position: relative;
    background: $shellBgColor;
    border-radius: 5px;

    &:before {
      content: '!';
      font-weight: bold;
      position: absolute;
      vertical-align: top;
      font-size: 2vw;
      color: white;
      margin-left: 6px;
    }

    p {
      border-left: 1px solid white;
      padding: 10px;
      margin-left: 20px;
    }
  }
}

.diffbox {
  border-radius: 10px;

  .title-panel {
    border-radius: 10px 10px 0 0;
  }

  .code-container {
    border-radius: 0 0 10px 10px;
  }
}

api-ref-container {
  p, ul li {
    code {
      font-family: 'Open Sans', sans-serif;
    }
  }

  a {
    color: $darkerBgColor;
    text-decoration: none;
    font-weight: bold;
  }

  h3 {
    background: $shellBgColor;
    border-radius: 5px;
    padding: 4px;
    margin-top: 30px;
  }

  table {
    width: 100%;
    background: $shellBgColor;
    border-radius: 5px;
    border-spacing: 0;

    thead {
      background: $lightBgColor;
      color: $shellBgColor;
      border-radius: 5px;

      tr {
        background: $lightBgColor;
        border-radius: 5px;

        th {
          padding: 6px;
        }
      }
    }

    tbody {
      td {
        padding: 5px;
      }
    }
  }
}


.l-pinned-top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.l-pinned-left {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

.l-relative,
.docs-content {
  position: relative;
}

.l-absolute {
  position: absolute;
}

.l-fixed {
  position: fixed;
}

.l-offset-side-nav {
  padding-left: 232px;
}

.l-offset-nav {
  padding-top: 64px;
}

diffbox-container {
  padding-left: 36px;
  overflow: hidden;
  display: block;

  .hljs-comment {
    color: #777;
  }

  pre {
    margin: 0;
    padding: 0;

    background-color: transparent;

    &.line-added {
      background: #eaffea;
    }

    &.line-removed {
      background: #ff9ea2;
    }
  }
}

.side-nav {
  background: #ECEFF1;
  width: 232px;
  bottom: 0;
  overflow: auto;
  z-index: 100;
  border-right: 1px solid rgba(0, 0, 0, 0.3);

  ul {
    margin-top: 8px;
  }
}

.tutorials-container,
.api-content {
  padding-left: 280px;
}
