@import "colors";
@import "../../../node_modules/highlight.js/styles/default";
@import "../../../node_modules/highlight.js/styles/github";

a {
  color: black;
}

body {
  margin: 0;
  padding: 64px 0 0;
  font-family: 'Open Sans', sans-serif;
}

pre {
  background: transparent;
  border: none;
  white-space: pre-wrap;
}

code {
  white-space: pre-wrap;
}

img[alt="angular1-wa-ionic-cli"], img[alt="angular1-wa-meteor-cli"] {
  width: 30%;
}

.side-nav {
  .step-item, .api-list-item {
    margin: 0;
    padding: 0;
    color: $lightBgColor;
  }

  .step-item {
	  position: relative;

	  $stepCircleRadius: 5px;

	  &::before {
		  content: "";
		  height: $stepCircleRadius * 2;
		  width: $stepCircleRadius * 2;
		  background: #f9f9f9;
		  border-radius: 50%;
		  border: 2px solid $linkColor;
		  position: absolute;
		  top: 50%;
		  margin-top: -$stepCircleRadius - 1px;
		  left: 32px;
		  margin-left: -$stepCircleRadius - 1px;
		  z-index: 200;
	  }

	  &.active-step {
		  &::before {
			  background: $linkHoverColor;
			  border-color: $linkHoverColor;
		  }
	  }

	  &::after {
		  content: "";
		  height: 100%;
		  width: 1px;
		  background: $linkColor;
		  top: 0;
		  left: 32px;
		  position: absolute;
		  z-index: 100;
	  }

	   &:first-of-type {
 		  &::after {
 			  height: 50%;
			  top: 50%;
 		  }
 	  }

	  &:last-of-type {
		  &::after {
			  height: 50%;
			  bottom: 50%;
		  }
	  }
  }

  .step-link {
	  color: $linkColor;
  }

  .step-link, .api-item-link, .apis-versions-list li {
    text-decoration: none;
    display: block;
    font-size: 14px;
    padding: 16px 16px 16px calc(16px + 48px);
    margin: 0;
  }

  .active-step {
    a {
      color: $linkActiveColor;
    }
  }

  .tutorial-steps-list, .apis-list, .apis-versions-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
  }
}

.apis-versions-list {
  margin: 0 !important;

  li {
    padding: 8px !important;

    a {
      text-decoration: none;
    }
  }
}

.dropdown-content {
  column-count: 2;
  column-width: 220px;
  column-rule: 1px solid #ECEFF1;
  column-gap: 0;

  .tutorial-steps-list {
    margin: 0 !important;
    list-style: none;
    padding: 0;

    .step-item {
      padding: 5px 0 5px 10px;

      break-inside: avoid-column;

      a {
        text-decoration: none;
        font-size: small;
        color: black;
      }

      .bold {
        font-weight: bold;
      }
    }
  }
}

.md-primary {
  background: $darkerBgColor !important;
  color: white !important;
  cursor: pointer !important;

  &[disabled] {
    color: lightgray !important;
    cursor: not-allowed !important;
  }
}

[md-raised-button] {
	border: 2px solid #a6120d !important;
	background: transparent !important;
	color: #a6120d !important;
	box-shadow: none !important;

	&[disabled] {
		border-color: #aaa !important;
		color: #aaa !important;
	}
}

tutorial-page-content {
  pre {
    code[ngnonbindable] {
      background: $shellBgColor;
      display: block;
      width: 90%;
      border-radius: 5px;
      padding: 10px;
    }
  }

  blockquote {
    margin: 0;
    position: relative;
    background: $shellBgColor;
    border-radius: 5px;

    &:before {
      content: '!';
      font-weight: bold;
      position: absolute;
      vertical-align: top;
      font-size: 2vw;
      color: white;
      margin-left: 6px;
    }

    p {
      border-left: 1px solid white;
      padding: 10px;
      margin-left: 20px;
    }
  }
}

.diffbox {
  border-radius: 10px;

  .title-panel {
    border-radius: 10px 10px 0 0;
  }

  .code-container {
    border-radius: 0 0 10px 10px;
  }
}

api-ref-container {
  p, ul li {
    code {
      font-family: 'Open Sans', sans-serif;
    }
  }

  a {
    color: $darkerBgColor;
    text-decoration: none;
    font-weight: bold;
  }

  h3 {
    background: $shellBgColor;
    border-radius: 5px;
    padding: 4px;
    margin-top: 30px;
  }

  table {
    width: 100%;
    background: $shellBgColor;
    border-radius: 5px;
    border-spacing: 0;

    thead {
      background: $lightBgColor;
      color: $shellBgColor;
      border-radius: 5px;

      tr {
        background: $lightBgColor;
        border-radius: 5px;

        th {
          padding: 6px;
        }
      }
    }

    tbody {
      td {
        padding: 5px;
      }
    }
  }
}


.l-pinned-top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

@media screen and (min-width: 1000px) { // Arbitrary media query for now for small screens
	.l-pinned-left {
	  position: fixed;
	  top: 0px;
	  left: 0px;
	  bottom: 0px;
	}
}


.l-left {
  float: left;
}

.l-right {
  float: right;
}

.l-relative,
.docs-content {
  position: relative;
}

.l-absolute {
  position: absolute;
}

.l-fixed {
  position: fixed;
}

.l-offset-side-nav {
  padding-left: 232px;
}

diffbox-container {
  padding-left: 36px;
  overflow: hidden;
  display: block;

  .hljs-comment {
    color: #777;
  }

  pre {
    margin: 0;
    padding: 0;

    background-color: transparent;

    &.line-added {
      background: #eaffea;
    }

    &.line-removed {
      background: #ff9ea2;
    }
  }
}

.side-nav {
  background: #f6f6f6;
  width: 100%;
  bottom: 0;
  z-index: 100;

  ul {
    margin-top: 8px;
  }
}

.tutorials-container {
	color: #555;

	h1 {
		font-family: 'Poppins', sans-serif;
		color: #111;
		line-height: 1.1;
	}

	p {
		color: #555;
	}
}

.api-content {
	padding-left: 280px;
}

.main-toolbar md-toolbar-row {
	height: auto !important;
}
