<div class="angular-2">
    <div class="main-unit hero">
        <div class="container">
            <div class="header">
                <img src="/assets/images/angular-2-shield-large.png"/>
                <h1 class="title">Angular 2</h1>
                <p>
                    Use Angular 2 and Meteor to build full-stack JavaScript apps <br/>for Mobile and Desktop.
                </p>
                <div class="cta-link">
                    <a href="/tutorials/socially/angular2/bootstrap">
                        <button md-button class="md-primary">Build the Socially App in Angular 2</button>
                    </a>
                    <a href="/tutorials/whatsapp2/ionic/setup">
                        <button md-button class="md-primary">Build a Whatsapp clone in Angular 2</button>
                    </a>
                    <a href="/api/angular2-meteor/latest/MeteorComponent">
                        <button md-button class="md-primary">Explore the API</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>