<div class="hero">
    <div class="container">
        <div class="main-logo"></div>
        <h1 class="title">Build Realtime Web and Mobile Apps With Angular and Meteor</h1>
        <div class="buttons">
            <button md-raised-button class="hero-button">Start With Our Tutorials</button>
            <button md-raised-button class="hero-button">Install Meteor</button>
        </div>
        <div class="social" id="homepage-social-buttons">
            <iframe src="https://ghbtns.com/github-btn.html?user=urigo&amp;repo=angular-meteor&amp;type=star&amp;count=true&amp;size=large"
                    frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true"
                    class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button"
                    src="http://platform.twitter.com/widgets/follow_button.3f9ecde7efe18928e5abe955a985aec6.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=urigoldshtein&amp;show_count=true&amp;show_screen_name=false&amp;size=l&amp;time=1470903574328"
                    data-screen-name="urigoldshtein"
                    style="position: static; visibility: visible; width: 178px; height: 28px;"></iframe>
        </div>
    </div>
</div>
<div class="main-unit video">
    <div class="container">
        <h1 class="title">Angular-Meteor Makes Real Time Full Stack Easy</h1>
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/_mu6BWsnaPM?list=PLhCf3AUOg4PgQoY_A6xWDQ70yaNtPYtZd"
                    frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="tutorial-cta">
                    Angular-Meteor is completely Open Source. It brings the responsive power of Angular to the powerful
                    and flexible Meteor stack. Deploy wherever you want.
                </p>
                <a href="https://github.com/Urigo/angular-meteor">
                    <button md-button class="body-button">
						<span class="button-wrapper">
							<i class="material-icons">play_circle_outline</i>
							Get Started
						</span>
					</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="main-unit showcase">
    <div class="container">
        <h1 class="title">Apps Using Angular-Meteor</h1>

        <div class="sites">
            <div class="site">
                <a href="http://3rdfriday.com/">
                    <div class="img-container">
                        <img srcset="/assets/images/3rd-friday-large.jpg 1440w,
										 /assets/images/3rd-friday-medium.jpg 720w,
										 /assets/images/3rd-friday-small.jpg 360w"

                             sizes="(min-width: 767px) 33.33vw,
								  		 100vw"

                             src="/assets/images/3rd-friday-small.jpg" alt="">
                    </div>
                    <span class="site-title">3rd Friday</span>
                </a>
            </div>
            <div class="site">
                <a href="https://planet.training/en/">
                    <div class="img-container">
                        <img srcset="/assets/images/planet-training-large.jpg 1440w,
										 /assets/images/planet-training-medium.jpg 720w,
										 /assets/images/planet-training-small.jpg 360w"

                             sizes="(min-width: 767px) 33.33vw,
								  		 100vw"

                             src="/assets/images/planet-training-small.jpg" alt="">
                    </div>
                    <span class="site-title">Planet Training</span>
                </a>
            </div>
            <div class="site">
                <a href="https://apps.sandstorm.io/app/wupmzqk4872vgsye9t9x5dmrdw17mad97dk21jvcm2ph4jataze0">
                    <div class="img-container">
                        <img srcset="/assets/images/quick-survey-large.jpg 1440w,
										 /assets/images/quick-survey-medium.jpg 720w,
										 /assets/images/quick-survey-small.jpg 360w"

                             sizes="(min-width: 767px) 33.33vw,
								  		 100vw"

                             src="/assets/images/quick-survey-small.jpg" alt="">
                    </div>
                    <span class="site-title">Quick Survey</span>
                </a>
            </div>
			<div class="site">
                <a href="https://apps.sandstorm.io/app/c6zfftftrra9d4pdyuc1psew65ukqrjujvk20fac4zke1uasxv10">
                    <div class="img-container">
                        <img srcset="/assets/images/annotate-large.jpg 1440w,
										 /assets/images/annotate-medium.jpg 720w,
										 /assets/images/annotate-small.jpg 360w"

                             sizes="(min-width: 767px) 33.33vw,
								  		 100vw"

                             src="/assets/images/annotate-small.jpg" alt="">
                    </div>
                    <span class="site-title">Annotate</span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="submit-app-cta">
                <p>Want to see your app featured? We've set up a Google Form to take submissions!</p>
                <a href="https://docs.google.com/forms/d/1r0_16P9QbL0K1NH5o-NI6fAQdiu1zGwo4S6mofzz5w4/viewform "
                   class="btn btn-default cta">
                    <button md-button class="body-button">
                        <span class="button-wrapper">
							<i class="material-icons">add_circle_outline</i>
							Submit your app
						</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>

<div class="main-unit intro">
<div class="container">
    <div class="slides">
        <div class="row">
            <div class="slide-item">
                <div class="small-hero">
                    <h2>Real Time Data Sync and Store</h2>
                    <img src="/assets/images/existing-2.png">
                    <p>
                        Sync data in realtime across your own server, DB and clients instantly.
                    </p>
                </div>
            </div>
            <div class="slide-item">
                <div class="small-hero">
                    <h2>Write Angular on the Server</h2>
                    <img src="/assets/images/plug-in-2.png">
                    <p>
                        Use your existing Angular knowledge to create your server. Remove boilerplate by calling Angular
                        Services from the server directly on your client.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="extras">
	<div class="container">
    <div class="unit">
        <h2>Why</h2>
        <p>
            Don't choose just one solution. We created this library so that you can comfortably use both
            AngularJS and Meteor. <a href="/manifesto">Read more <i class="fa fa-chevron-circle-right"></i></a>
        </p>
    </div>
    <div class="unit">
        <h2>Contribute</h2>
        <p>
            Contribute with code, by adding to our <a href="/tutorials">tutorials <i
                class="fa fa-chevron-circle-right"></i></a>, or tell us what you're looking for in our <a
                href="https://trello.com/b/Wj9U0ulk/angular-meteor">roadmap <i
                class="fa fa-chevron-circle-right"></i></a>
        </p>
    </div>
    <div class="unit">
        <h2>Github</h2>
        <p>
            <iframe src="https://ghbtns.com/github-btn.html?user=urigo&repo=angular-meteor&type=star&count=true&size=large"
                    frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            <iframe src="https://ghbtns.com/github-btn.html?user=urigo&repo=angular-meteor&type=watch&count=true&size=large&v=2"
                    frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        </p>
    </div>
</div>
</div>
