@import "../../../assets/style/colors";

.clear {
  clear: both;
}

p {
	font-size: 1rem;
}

.row {
	overflow: hidden;
}

.hero {
  padding: 3rem 0;
  background-image: url("/assets/images/angular-bg.png");
  background-color: #333333;
  text-align: center;

  h1 {
    color: #f6f6f6;
    font-size: 1.7rem;
	line-height: 1.4;
  }

    .buttons {
      margin-bottom: 20px;
    }

    .main-logo {
      width: 260px;
      height: 260px;
      background-image: url("/assets/images/logo-large.png");
      background-repeat: no-repeat;
      margin: 0 auto 3rem;
      background-size: 132%;
      background-position: -48px;
    }
}

[md-raised-button].hero-button {
	background: $linkColor;
	border: 2px solid #fff;
	color: #fff;
	font-weight: normal;
	transition: all .2s;
	margin: 5px 5px;
	font-weight: 300;
	font-family: inherit;
	font-size: 16px;

	&:hover {
		background: $linkHoverColor;
		border-color: $linkHoverColor;
	}
}

[md-button].body-button {
	background: transparent;
	border: 2px solid $linkColor;
	color: $linkColor;
	font-weight: 300;
	transition: all .2s;
	font-family: inherit;
	font-size: 16px;

	&:hover {
		background: $linkHoverColor;
		border-color: $linkHoverColor;
		color: #fff;
	}
}

.video h1 {
	margin: 3rem;
	font-size: 1.7rem;
	line-height: 1.4;
}

.video {
	padding-bottom: 2rem;
}

.showcase h1 {
	margin-bottom: 3rem;
	font-size: 1.7rem;
	line-height: 1.4;
	margin-top: 0;
}

.main-unit {
  text-align: center;
  margin: 0 auto;

  .video-wrapper iframe {
    border: 2px solid #333333;
    background-color: #333333;
    border-radius: 3px;
  }

  .tutorial-cta {
    margin: 3rem auto 2rem;
    max-width: 400px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 30px;
}

.showcase {
  .row {
    padding: 0 3rem;
  }

  .submit-app-cta {
    width: 100%;
    float: left;
  }

  .img-container {
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #dedede;
  }

  .site-title {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all .5s;
  }

  a:not(.btn) {
    color: $lightTextColor;

    &:hover {

      img {
        opacity: .5;
        transform: scale(1.15);
      }

      .site-title {
        background: white;
      }
    }
  }

  img {
    width: 100%;
    transition: all .5s;
  }
}

.sites {
	display: flex;
	flex-wrap: wrap;
	padding: 0 2rem;
}

.site {
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
}

.extras .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.unit {
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 0 2rem;
	box-sizing: border-box;

	p {
		text-align: center;
		font-size: 16px;
	}
}

@media screen and (min-width: 620px) {
	.sites {
		padding: 0;
	}

	.site {
		width: 50%;
		padding: 0 1rem;
	}

	.video-wrapper iframe {
		width: 500px;
		height: calc(500px * 0.5625);
	}

	.unit {
		width: 50%;
	}
}

@media screen and (min-width: 980px) {
	.site {
		width: 33.33%;
		padding: 0 1rem;
	}

	.video-wrapper iframe {
		width: 700px;
		height: calc(700px * 0.5625);
	}
}

@media screen and (min-width: 1200px) {
	.site {
		width: 25%;
		padding: 0 1rem;
	}

	.unit {
		width: 33.33%;
	}

}

.small-hero {
  color: $darkerBgColor;
  padding: 2rem;
  height: 440px;

  img {
    margin: 1rem;
    height: 148px;
  }

  p {
    max-width: 240px;
    margin: 1rem auto;
  }
}

.intro {
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: #f2f2f2;
  margin: 3rem auto;
  overflow: hidden;

  h1 {
    margin-bottom: 4rem;
  }
}

.slides {
  .slide-item {
    float: left;
    width: 100%;
  }
}

.submit-app-cta p {
	margin: 3rem auto 2rem;
	max-width: 400px;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.slides {
		.slide-item {
			width: 50%;
		}
	}

	.video h1 {
		font-size: 2rem;
	}

	.showcase h1 {
		font-size: 2rem;
	}

	.container {
		width: 80%;
	}
}
