<div class="hero">
    <div class="container">
        <div class="main-logo"></div>
        <h1 class="title">Build Realtime Web and Mobile Apps With Angular and Meteor</h1>
        <div class="buttons">
            <button md-raised-button>Start With Our Tutorials</button>
            <button md-raised-button>Install Meteor</button>
        </div>
        <div class="social" id="homepage-social-buttons">
            <iframe src="https://ghbtns.com/github-btn.html?user=urigo&amp;repo=angular-meteor&amp;type=star&amp;count=true&amp;size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="http://platform.twitter.com/widgets/follow_button.3f9ecde7efe18928e5abe955a985aec6.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=urigoldshtein&amp;show_count=true&amp;show_screen_name=false&amp;size=l&amp;time=1470903574328" data-screen-name="urigoldshtein" style="position: static; visibility: visible; width: 178px; height: 28px;"></iframe>
        </div>
    </div>
</div>