<div class="main-unit container">
  <div class="support-page-wrapper">
    <div class="title">
      <h1>Our core team and partners can help you develop your next Angular-Meteor project.</h1>
    </div>
    <div class="row">
      <div class="column divider">
        <h2>Need a dev team?</h2>
        <p>
          Our core team and partners are able to offer expert consulting on both large and small Angular-Meteor
          applications.<br/>
          Be confident in your success with the knowledge that your projects are being built by the experts.<br/><br>
          Have questions? Email <a href="mailto:uri.goldshtein@gmail.com">uri.goldshtein@gmail.com</a> with what you
          need. We would love to help you connect with talent who can make your project a success!
        </p>
      </div>
      <div class="column">
        <h2>Need an Angular-Meteor wizard?</h2>
        <p>
          Hire our core team on a per-hour basis without any commitments. The Angular-Meteor team will dedicate time to
          help you accomplish your project goals.<br/><br/>
          <strong>We can help with a wide variety of tasks.</strong> Code reviews to make sure that you’re on the right
          track? Can do. Advice on the best way to proceed with your architecture? Yep. Design and UX expertise to
          really make it special? We’ve got you covered.
          <br/><br/>
          Email <a href="mailto:uri.goldshtein@gmail.com">uri.goldshtein@gmail.com</a> with what you need. We would love
          to work with you to make your project a success!
        </p>
      </div>
    </div>
  </div>
  <div class="support-page-wrapper">
    <div class="row">
      <div class="full-column">
        <h2>Help Support Open Source!</h2>
        <p>
          We provide discounted rates to companies who fund fixes to bugs in Angular-Meteor or the creation of new
          features for the community. This is a great way for businesses to get involved and not only help themselves
          but also thousands of other companies around the world.
          <br/><br/>Please email <a href="mailto:uri.goldshtein@gmail.com">uri.goldshtein@gmail.com</a> and we'll make
          it happen.
        </p>
      </div>
    </div>
  </div>
  <div class="support-page-wrapper">
    <div class="row">
      <div class="full-column">
        <h2>On-site experts available!</h2>
        <p>
          We have enterprise partners that are able to work full-time on your projects. Our partners can help fill
          positions on your team with experienced developers who can work as part of your team to ensure the success of
          your project from the inside.
          <br/><br/>Please email <a href="mailto:uri.goldshtein@gmail.com">uri.goldshtein@gmail.com</a> for
          availability.
        </p>
      </div>
    </div>
  </div>
</div>
