@import "../../../assets/style/colors";

.main-unit {
  background: white;
  color: black;
  margin-top: 10px;
}

.support-page-wrapper {
  display: table;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #DADADA;
  background: rgb(247, 247, 247);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);
  border-radius: 4px;
  margin-bottom: 40px;

  .title {
    width: 100%;
    display: table-caption;
    text-align: center;
    margin-bottom: 30px;
  }

  .row {
    display: table-row;
    width: 100%;
    margin-top: 20px;

    .divider {
      border-right: 1px solid #DADADA;
    }

    .column, .full-column {
      width: 50%;
      display: table-cell;
      padding-left: 30px;
      padding-right: 30px;

      .italic {
        font-style: italic;
      }

      h2 {
        letter-spacing: -0.06em;
        text-align: center;
        margin-bottom: 20px;
        color: #a6120d;
      }
    }

    .full-column {
      width: 100%;

      p {
        max-width: none;
      }
    }
  }
}
