<div class="main-unit container">
  <div class="support-page-wrapper">
    <div class="title">
      <h1>Ensure your organization's success with Angular-Meteor by leveraging our various support options.</h1>
    </div>
    <div class="row">
      <div class="column divider">
        <h2>Join Our Great Community!</h2>
        <p>
          First, head over to our community <a href="https://gitter.im/Urigo/angular-meteor">gitter channel</a> and
          introduce yourself to our friendly community members.<br/>
          Our community members are always happy to help answer questions and lend a helping hand to someone getting
          started with the framework.<br/>
          Nothing is more frustrating than getting stuck at the beginning, but most questions when starting a new
          project can be answered quickly by posting to the community channel.<br/>
          In addition to Gitter, you can also ask questions on our <a href="https://github.com/Urigo/angular-meteor">GitHub
          repository</a> or on <a href="http://stackoverflow.com/questions/tagged/angular2-meteor">Stack Overflow</a>.
        </p>
        <p class="italic">
          If you believe that you have found a bug in Angular-Meteor itself, please post an issue to the <a
          href="https://github.com/Urigo/angular-meteor/issues/">github repository</a> and it will be reviewed
          soon.<br/>
          Are you looking to support open source? Our core team provides discounted rates to companies who want to fund
          bug fixes.
        </p>
      </div>
      <div class="column">
        <h2>Enterprise Support Agreements</h2>
        <p>
          We offer enterprise service agreements that will give you and your team great peace of mind.<br/>
          You can know that when you need support, there will be a dedicated expert ready to help you.<br/>
          We believe in our customers and our community and we deeply desire to help ensure your success.<br/><br/><br/>
          For more information email <a href="mailto:uri.goldshtein@gmail.com">uri.goldshtein@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
  <div class="support-page-wrapper">
    <div class="row">
      <div class="full-column">
        <h2>Migration Experts</h2>
        <p>
          We offer migration services that will give your team a boost when working with your frameworks.<br/>
          For example, we support migration from Angular 1 / Blaze projects into Angular 2 projects.<br/><br/>
          We also offer migration support to <strong>GraphQL / Apollo</strong> with any client-side UI framework, with a
          step-by-step migration that allows you to migrate a different part of your application each time.
          <br /><br />
          For more information email <a href="mailto:uri.goldshtein@gmail.com">uri.goldshtein@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
