<div class="main-unit container">
  <br/><br/>
  <div class="support-page-wrapper">
    <div class="row">
      <div class="full-column">
        <h2>Need custom training?</h2>
        <p>
          We've got an international web of certified trainers, core team members and official partners. If you need
          custom training, we can connect you with someone who can help put together on-site or virtual training to meet
          your needs.

          <br/><br/>For more information, please email <a href="mailto:uri.goldshtein@gmail.com">uri.goldshtein@gmail.com</a>
          and we will do our best to accommodate you.
        </p>
      </div>
    </div>
  </div>
</div>
