@import "../assets/style/colors";

.logo {
  width: auto;
  height: 2em;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(.9);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.support-link {
  button {
    padding-right: 0 !important;
  }

  .notification {
    animation: pulse 1.5s 2;
    font-size: 10px;
    color: white;
    background: rgba(255, 0, 0, 0.7);
    border-radius: 50%;
    display: inline-block;
    height: 18px;
    width: 18px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }

  .hide-support {
    visibility: hidden;
  }
}

.logo-link {
  line-height: 0;
  padding: .5rem;
}

.nav-links {
  width: 100%;
  max-height: 340px;
  overflow: scroll;
  transition: all .2s ease-in-out;
  position: relative;
  z-index: 50;
  height: 0;

  &.visible {
    height: 340px;
  }
}

[md-icon-button].nav-toggle {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: auto;
  width: auto;
  padding: 5px 10px;

  &::after {
    display: none;
  }

  span {
    color: #333;
  }
}

.primary-nav {
  margin-top: 10px;
}

.main-toolbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: #f6f6f6 !important;
  overflow: hidden;
  z-index: 500;

  md-toolbar-row {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  a {
    color: #555;
    text-decoration: none;
    font-weight: normal;
    display: block;
  }
}

.nav-links {
  a {
    padding: 5px 0;
    border-radius: 3px;

    &:hover {
      background: #eee;
    }
  }
}

.tutorials-dropdown {
  position: relative;
  display: inline-block;
  color: #555;
  padding: 5px 0;
  line-height: 1;

  .button-inner {
    display: flex;
    align-items: center;
  }

  .dropdown-content {
    display: none;
    background-color: #fff;
    padding: 7px;
    line-height: 1.6;

    &.visible {
      display: block;
    }
  }
}

@media screen and (min-width: 750px) {

}

@media screen and (min-width: 1000px) {
  .primary-nav {
    margin-top: 0;
    display: flex;
    align-items: center;
  }

  [md-icon-button].nav-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: visible;

    a {
      display: inline-block;
    }
  }

  .secondary-nav {
    align-self: flex-end;
  }

  .main-toolbar {
    overflow: visible;

    md-toolbar-row {
      flex-wrap: nowrap;
    }
  }

  .tutorials-dropdown:hover {
    background: #eee;
  }

  .tutorials-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 600px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-radius: 0;
    padding: 5px 0 !important;
    border: 1px solid rgba(0, 0, 0, .15);

    a {
      padding: .4rem 20px;
      border-bottom: 1px solid #f2f2f2;
      display: block;
      font-weight: 300;
      font-size: 16px;
    }

    .tutorial-steps-list .step-item {
      padding: 0;
    }
  }
}
