<md-toolbar class="main-toolbar md-primary">
    <a href="/"><img src="/assets/images/logo.png" class="logo"></a>
    <div class="tutorials-dropdown">
        <button md-button>Tutorials</button>
        <div class="dropdown-content">
            <steps-list [tutorial]="getDropdownTutorial()" prefix="/tutorials" [extraLinks]="getExtraLinks()"></steps-list>
        </div>
    </div>
    <button md-button>Angular 2</button>
    <button md-button>Docs</button>
    <span class="fill-remaining-space"></span>
    <button md-button>Github</button>
    <button md-button>Blog</button>
    <button md-button>Contact Us</button>
    <button md-button>Manifesto</button>
    <button md-button>About us</button>
</md-toolbar>
<router-outlet></router-outlet>