//@import "../assets/style/colors";

.logo {
  width: auto;
  height: 2em;
}

.main-toolbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
  background: black;

  a {
    color: white;
    text-decoration: none;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.tutorials-dropdown {
  position: relative;
  display: inline-block;

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 500px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 7px;
  }
}

.tutorials-dropdown:hover .dropdown-content {
  display: block;
}
