<md-toolbar class="main-toolbar md-primary">
  <a href="" class="logo-link"><img src="assets/images/logo.png" class="logo"></a>

  <button md-icon-button class="nav-toggle">
    <i class="material-icons">menu</i>
  </button>

  <nav class="nav-links">
    <div class="primary-nav">
      <div class="tutorials-dropdown">
        <button md-button><span class="button-inner">Tutorials<i class="material-icons">arrow_drop_down</i></span>
        </button>
        <div class="dropdown-content">
          <steps-list [tutorial]="getDropdownTutorial()" prefix="tutorials/socially"
                      [extraLinks]="getExtraLinks()"></steps-list>
        </div>
      </div>
      <a href="api/angular2-meteor/latest/Meteor-RxJS">
        <button md-button>API Reference</button>
      </a>
      <a href="meteor-rxjs">
        <button md-button>Meteor+RxJS</button>
      </a>
      <a target="_blank" href="https://github.com/Urigo/angular2-meteor">
        <button md-button><md-icon fontSet="fa" fontIcon="fa-github"></md-icon> GitHub</button>
      </a>
    </div>
    <div class="secondary-nav">
      <a target="_blank"
         href="https://info.meteor.com/blog/author/uri-goldshtein?__hstc=219992390.b4a81f3b906b078dac633307097097f5.1471207723059.1471890076881.1471938647239.7&__hssc=219992390.3.1471938647239&__hsfp=714783454">
        <button md-button>Blog</button>
      </a>
      <a href="support" class="support-link">
        <button md-button>Support</button>
        <span class="notification" [ngClass]="{'hide-support': isSupportPage()}">1</span>
      </a>
      <a href="consulting">
        <button md-button>Consulting</button>
      </a>
      <a href="manifesto">
        <button md-button>Manifesto</button>
      </a>
    </div>
  </nav>
</md-toolbar>
<router-outlet></router-outlet>

