<div class="meteor-rxjs">
  <div class="main-unit hero">
    <div class="container">
      <div class="logos">
        <img src="/assets/images/meteor-logo.png" height="160"/>
        <span class="plus">+</span>
        <img src="/assets/images/rxjs-logo.png" height="80"/>
      </div>
      <p>
        <strong>Harness Meteor reactivity with RxJS.</strong><br/><br/>
        RxJS is built to simplify complexity dealing with reactive data flows.<br/>
        At the same time, Meteor's Minimongo cursors are a good target for RxJS API due to their reactivity.<br/>
        Thus, combining RxJS and Meteor, we bring together best parts of two worlds.
      </p>
      <div class="cta-link">
        <a md-raised-button href="/api/meteor-rxjs/latest/MeteorObservable" class="md-primary tutorial-button">
          <i class="fa fa-share-alt"></i>
          Explore the API
        </a>
        <a md-raised-button href="https://github.com/Urigo/meteor-rxjs" class="md-primary tutorial-button">
          <i class="fa fa-github"></i>
          GitHub
        </a>
      </div>
    </div>
  </div>
</div>
