<div class="container about">
    <div class="row">
        <div class="team-wrapper">
            <h1 class="title">Contributors</h1>
			<!-- <a href="https://github.com/Urigo/angular-meteor/graphs/contributors">Contibutors</a>-->
            <ul class="team">
                <li class="about-item media">
					<a href="https://github.com/Urigo">
						<div class="media__image">
	                        <img src="https://avatars2.githubusercontent.com/u/1297448?v=3&s=200" title="@Urigo"/>
						</div>
						<div class="media__content">
	                        @Urigo
						</div>
					</a>
                </li>

				<li class="about-item media">
					<a href="https://github.com/netanelgilad">
						<div class="media__image">
	                        <img src="https://avatars1.githubusercontent.com/u/3474905?v=3&s=200" title="@netanelgilad"/>
						</div>
						<div class="media__content">
	                        @netanelgilad
						</div>
					</a>
                </li>

				<li class="about-item media">
					<a href="https://github.com/loneleeandroo">
						<div class="media__image">
	                        <img src="https://avatars3.githubusercontent.com/u/5119850?v=3&s=200" title="@loneleeandroo"/>
						</div>
						<div class="media__content">
	                        @loneleeandroo
						</div>
					</a>
                </li>

				<li class="about-item media">
					<a href="https://github.com/dotansimha">
						<div class="media__image">
	                        <img src="https://avatars1.githubusercontent.com/u/3680083?v=3&s=200" title="@dotansimha"/>
						</div>
						<div class="media__content">
	                        @dotansimha
						</div>
					</a>
                </li>

				<li class="about-item media">
					<a href="https://github.com/Arambse">
						<div class="media__image">
	                        <img src="https://avatars1.githubusercontent.com/u/1844027?v=3&s=200" title="@Arambse"/>
						</div>
						<div class="media__content">
	                        @Arambse
						</div>
					</a>
                </li>

				<li class="about-item media">
					<a href="https://github.com/rachelmcgrane">
						<div class="media__image">
	                        <img src="https://avatars3.githubusercontent.com/u/380161?v=3&s=200" title="@rachelmcgrane"/>
						</div>
						<div class="media__content">
	                        @rachelmcgrane
						</div>
					</a>
                </li>

				<li class="about-item media">
					<a href="https://github.com/davidyaha">
						<div class="media__image">
	                        <img src="https://avatars0.githubusercontent.com/u/2580920?v=3&s=200" title="@davidyaha"/>
						</div>
						<div class="media__content">
	                        @davidyaha
						</div>
					</a>
                </li>

				<li class="about-item media">
					<a href="https://github.com/asafdav">
						<div class="media__image">
	                        <img src="https://avatars3.githubusercontent.com/u/1223211?v=3&s=200" title="@asafdav"/>
						</div>
						<div class="media__content">
	                        @asafdav
						</div>
					</a>
                </li>

				<li class="about-item media">
					<a href="https://github.com/simonv3">
						<div class="media__image">
	                        <img src="https://avatars1.githubusercontent.com/u/485583?v=3&s=200" title="@simonv3"/>
						</div>
						<div class="media__content">
	                        @simonv3
						</div>
					</a>
                </li>

				<li class="about-item media">
					<a href="https://github.com/idanwe">
						<div class="media__image">
	                        <img src="https://avatars3.githubusercontent.com/u/3066423?v=3&s=200" title="@idanwe"/>
						</div>
						<div class="media__content">
	                        @idanwe
						</div>
					</a>
                </li>

				<li class="about-item media">
					<a href="https://github.com/fredrikekelund">
						<div class="media__image">
	                        <img src="https://avatars3.githubusercontent.com/u/1101677?v=3&s=200" title="@fredrikekelund"/>
						</div>
						<div class="media__content">
	                        @fredrikekelund
						</div>
					</a>
                </li>

				<li class="about-item media">
					<a href="https://github.com/barbatus">
						<div class="media__image">
	                        <img src="https://avatars3.githubusercontent.com/u/2824096?v=3&s=200" title="@barbatus"/>
						</div>
						<div class="media__content">
	                        @barbatus
						</div>
					</a>
                </li>

				<li class="about-item media">
					<a href="https://github.com/ozsay">
						<div class="media__image">
	                        <img src="https://avatars3.githubusercontent.com/u/3464930?v=3&s=200" title="@ozsay"/>
						</div>
						<div class="media__content">
	                        @ozsay
						</div>
					</a>
                </li>

				<li class="about-item media">
					<a href="https://github.com/urigo/angular-meteor">
						<div class="media__image">
	                        <img src="http://placehold.it/200?text=</>" title="you"/>
						</div>
						<div class="media__content">
	                        you?
						</div>
					</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="roadmap-wrapper">
            <h2>Roadmap</h2>
            <p>Here's how we're planning ahead for the future of Meteor + Angular integration:</p>
            <div class="roadmap">
                  <span class="roadmap-item node done">
                    <label>Angular 1.x</label>
                  </span>

                <span class="roadmap-item node done">
                    <label>Angular 2.0</label>
                  </span>

                <span class="roadmap-item node">
                    <label>Server Side AngularJS</label>
                  </span>

                <span class="roadmap-item node">
                    <label>Bring What's Learned to Both Frameworks</label>
                  </span>
            </div>
            <p class="trello">Have a look at our <a title="Trello Roadmap" href="https://trello.com/b/Wj9U0ulk/angular-meteor">trello
                board</a> to see what we're working on.</p>
        </div>
</div>
