@import "../../../assets/style/colors";

.about {
	padding: 2rem;
	display: block;
}

.trello {
	a {
		color: $linkColor;
		transition: all .2s;
		text-decoration: underline;

		&:hover {
			color: #222;
		}
	}
}

.team {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	li {
		width: 50%;
		margin-bottom: 1.5rem;
	}

	img {
		width: 90px;
		height: 90px;
		margin: 0;
		border-radius: 50%;
		transition: all .2s;
	}

	a {
		display: block;
		margin-top: .5rem;
		font-size: .875rem;
		color: #222;
		transition: all .2s;
	}
}

.team a:hover {
	color: $linkHoverColor;

	img {
		opacity: .7;
	}
}

.roadmap-wrapper {
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

.roadmap {
	padding: 1rem 1rem;
	position: relative;
	z-index: 0;
}

.node {
	position: relative;
	display: block;
	text-align: left;
	padding: 1rem 0 1rem 35px;

	label {
		white-space: normal;
	}

	&::before {
		content:'';
		width: 15px;
		height: 15px;
		border-radius: 50%;
		display: block;
		background-color: #dedede;
		z-index: 200;
		left: 0;
		top: 50%;
		margin-top: -7.5px;
		position: absolute;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		margin-top: 7.5px;
		left: calc(7.5px - 1px);
		border-left: 2px solid #dedede;
		z-index: 100;
		height: 100%;
		width: 100%;
	}

	&:last-child::after {
		display: none;
	}

	&.done {
		&::before {
			background: #8cc74a;
		}

		&::after {
			border-color: #8cc74a;
		}
	}
}

@media screen and (min-width: 450px) {
	.team {
		li {
			width: 33.33%;
		}
	}
}

@media screen and (min-width: 690px) {
	.team {
		li {
			width: 25%;
		}
	}
}

@media screen and (min-width: 750px) {
	.about {
		width: 70%;
		margin: 2rem auto;
	}

	.roadmap {
		display: flex;
		width: 125%;
		margin: 0 -12.5%;
		padding: 3rem 0 2rem;
	}

	.node {
		position: relative;
		display: inline-block;
		text-align: center;
		padding: 35px 1rem 0 1rem;
		width: 25%;

		label {
			white-space: normal;
		}

		&::before {
			content:'';
			width: 15px;
			height: 15px;
			border-radius: 50%;
			display: block;
			background-color: #dedede;
			z-index: 200;
			left: 50%;
			margin-left: -7.5px;
			top: 0;
			margin-top: 7.5px;
			position: absolute;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			margin-top: 13px;
			left: 50%;
			margin-right: 7.5px;
			z-index: 100;
			width: 100%;
			height: 2px;
			background: #dedede;
		}

		&:last-child::after {
			display: none;
		}

		&.done {
			&::after {
				background: #8cc74a;
			}
		}
	}
}

@media screen and (min-width: 1000px) {
	.about {
		width: 50%;
	}


}
