markdown-file {
	padding: 2rem;
	display: block;

	hr {
		border: 0;
		border-top: 1px solid #dedede;
		margin: 45px 0;
	}
}

@media screen and (min-width: 750px) {
	markdown-file {
		width: 70%;
		margin: 2rem auto;
	}
}

@media screen and (min-width: 1000px) {
	markdown-file {
		width: 50%;
	}
}
