@import "colors";
@import "../../../node_modules/highlight.js/styles/default";
@import "../../../node_modules/highlight.js/styles/github";

a {
  color: black;
}

body {
  padding: 0;
  margin: 0;
  padding-top: 64px;
  font-family: 'Open Sans', sans-serif;
}

pre {
  background: transparent;
  border: none;
  white-space: pre-wrap;
}

code {
  white-space: pre-wrap;
}

.side-nav {
  .step-item {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #CFD8DC;
    color: $lightBgColor;
  }

  .step-link {
    text-decoration: none;
    color: $lightTextColor;
    display: block;
    font-size: 14px;
    padding: 16px 16px;
    margin: 0;
    background-color: #ECEFF1;
  }

  .active-step {
    a {
      font-weight: bold;
    }
  }

  .tutorial-steps-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
  }
}

.dropdown-content {
  column-count: 2;
  column-width: 220px;
  column-rule: 1px solid #ECEFF1;
  column-gap: 0;

  .tutorial-steps-list {
    margin: 0 !important;
    list-style: none;
    padding: 0;

    .step-item {
      padding: 5px 0 5px 10px;
      border-bottom: 1px solid #ECEFF1;
      break-inside: avoid-column;

      a {
        text-decoration: none;
        font-size: small;
        color: black;
      }

      .bold {
        font-weight: bold;
      }
    }
  }
}


.md-primary {
  background: $darkerBgColor !important;
  color: white !important;
  cursor: pointer !important;

  &[disabled] {
    color: lightgray !important;
    cursor: not-allowed !important;
  }
}

tutorial-page-content {
  pre {
    code[ngnonbindable] {
      background: $shellBgColor;
      display: block;
      width: 90%;
      border-radius: 5px;
      padding: 10px;
    }
  }

  blockquote {
    margin: 0;
    position: relative;
    background: $shellBgColor;
    border-radius: 5px;

    &:before {
      content: '!';
      font-weight: bold;
      position: absolute;
      vertical-align: top;
      font-size: 2vw;
      color: white;
      margin-left: 6px;
    }

    p {
      border-left: 1px solid white;
      padding: 10px;
      margin-left: 20px;
    }
  }
}

.diffbox {
  border-radius: 10px;

  .title-panel {
    border-radius: 10px 10px 0 0;
  }

  .code-container {
    border-radius: 0 0 10px 10px;
  }
}