.side-nav {
  background: #ECEFF1;
  width: 232px;
  bottom: 0;
  overflow: auto;
  z-index: 100;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;

  ul {
    margin-top: 8px;
  }
}

.api-content {
  padding: 20px;
}

.api-container {
  padding-left: 230px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  width: 100%;

  button {
    width: 90%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    column-width: 210px !important;
    column-count: 1 !important;
  }
}

tutorials-versions {
  margin-left: 10px;
  margin-top: 10px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}