.api-content a {
	text-decoration: underline;
	color: $linkColor;
	transition: all .2s;

	&:hover {
		color: #222;
	}
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 10px;

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    column-width: 210px !important;
    column-count: 1 !important;
	font-size: 1rem;

	a {
		display: block;
		padding: 8px;

		&:hover {
			background: #f2f2f2;
		}
	}

	li {
		border-bottom: 1px solid #f2f2f2;
	}
  }
}

tutorials-versions {
  margin-left: 16px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.api-content {
  margin-top: 20px;
  padding: 20px;
}

[md-button].api-button {
	color: #333;
	border: none;
	text-align: left;
	display: inline-block;
	background: #d5d5d5;
	display: inline-flex;
	align-items: center;
	margin-top: 16px;
}

ul.apis-list {
	padding: 16px 24px !important;
	border-top: 1px solid #d5d5d5;
	margin-top: 32px !important;

	.api-item-link {
		display: block;
		font-size: 16px;
		padding: 8px 0;
		transition: all .2s;

		&:hover {
			color: $linkHoverColor;
		}
	}
}

@media screen and (min-width: 1000px) {

	.api-content {
		margin-top: 0;
		padding-top: 0;
	}

	.top-navigation {
		margin-top: 20px;
		margin-bottom: 60px;
	}
}
