.side-nav {
  background: #ECEFF1;
  width: 232px;
  bottom: 0;
  overflow: auto;
  z-index: 100;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;

  ul {
    margin-top: 8px;
  }
}

.api-content {
  padding: 20px;
}

.api-container {
  padding-left: 230px;
}

.l-pinned-top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.l-pinned-left {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

.l-relative,
.docs-content {
  position: relative;
}

.l-absolute {
  position: absolute;
}

.l-fixed {
  position: fixed;
}

.l-offset-side-nav {
  padding-left: 232px;
}

.l-offset-nav {
  padding-top: 64px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
  }
}


.dropdown:hover .dropdown-content {
  display: block;
}